<div class="seperator" style="margin-top: 0px;">
	<div class="myform">
		<h1>New pin</h1>
		<%= render 'form' %>
	</div>
</div>

<script>
  $('body').on('hidden.bs.modal', '.modal', function () {
  $(this).removeData('bs.modal');
  });
</script>

