<div class="seperator"> 
	     <% if current_user.try(:king?) %>
	     	 <form action = "/admin" class="form-group changer">
		       <p>EVOLVE!</p>
		       <input type="text" name="evolve" placeholder= "Enter email" class= "form-control">
		       <input type="submit" onClick="history.go(0)" class= "btn btn-danger" />
		     </form>

		      <% @users.each do |user| %>
			      <% if user.try(:email) == @evo %>
			      	 <% user.update_attribute :king, true %>
			      	 <% user.update_attribute :admin, false %>
			      <% end %>
		      <% end %>

		     <form action = "/admin" class="form-group changer">
		       <p>Change to admin</p>
		       <input type="text" name="upgrade" placeholder= "Enter email" class= "form-control">
		       <input type="submit" onClick="history.go(0)" class= "btn btn-primary"/>
		     </form>

		      <% @users.each do |user| %>
			      <% if user.try(:email) == @up %>
			      	 <% user.update_attribute :admin, true %>
			      	 <% user.update_attribute :king, false %>
			      <% end %>
		      <% end %>

		     <form action = "/admin" class="form-group changer">
		       <p>Change to user</p>
		       <input type="text" name="downgrade" placeholder= "Enter email" class= "form-control">
		       <input type="submit" onClick="history.go(0)" class= "btn btn-default"/>
		     </form>

		      <% @users.each do |user| %>
			      <% if user.try(:email) == @down %>
			      	 <% user.update_attribute :admin, false %>
			      	 <% user.update_attribute :king, false %>
			      <% end %>
		      <% end %>

		 <% end %><br />
</div>

<div class="table-responsive">
		<h3>Users:<br /></h3>
		<table class="table">
			<% @users.each do |user| %>
					<tr>
					  <td>
				  	  <% if user.king == true %>
					  	<span class="label label-danger">Im the Fucking King</span>
					  <% elsif user.admin == false %>
					  	<span class="label label-default">User</span>
					  <% else user.admin == true %>
					  	<span class="label label-primary">Admin</span>
					  <% end %>
					  </td>
					  <td><%= user.email %></td>
					  <td><%= user.name %></td>
					  <td>
					  	<% if (user.email != current_user.try(:email)) && (current_user.try(:king?)) %>
					  		<%= link_to user, method: :delete do %>Remove<% end %>
					  	<% end %>
					  </td>
					</tr>
			<% end %>
		</table>
</div>

<div class="types">
	<div class="typeblock">
	  	<span class="label label-danger">Im the Fucking King</span><br />
	    Create:&nbsp; <strong>yes</strong><br />
	    Edit:&nbsp; <strong>any</strong><br />
	    Destroy:&nbsp; <strong>any</strong><br />
	    Show:&nbsp; <strong>any</strong><br />
	    promote:&nbsp; <strong>any</strong><br />
	    demote:&nbsp; <strong>any</strong> <br />
	</div>
	<div class="typeblock">
	  	<span class="label label-primary">Admin</span><br />
	    Create:&nbsp; <strong>yes</strong><br />
	    Edit:&nbsp; <strong>own</strong><br />
	    Destroy:&nbsp; <strong>own</strong><br />
	    Show:&nbsp; <strong>any</strong><br />
	    promote:&nbsp; <strong>none</strong><br />
	    demote:&nbsp; <strong>none</strong><br />
	</div>
	<div class="typeblock">
	  	<span class="label label-default">User</span><br />
	    Create:&nbsp; <strong>no</strong><br />
	    Edit:&nbsp; <strong>no</strong><br />
	    Destroy:&nbsp; <strong>no</strong><br />
	    Show:&nbsp; <strong>any</strong><br />
	    promote:&nbsp; <strong>none</strong><br />
	    demote:&nbsp; <strong>none</strong><br />
	</div>
</div>










