.table-responsive {
	text-align:left;
	padding: 0 0 0 15%;
	width:50%;
	float:left;
	display: inline-block;
	background: white;
}

.table {
	width:100%;
}

.types {
	text-align:left; 
	width:50%; 
	display: inline-block; 
	padding:40px 5% 0 5%;
	margin-bottom:50px;
}

.typeblock {
	display:inline-block;
	padding: 5px;
}

.changer {
	display: inline-block; 
	margin-left: 20px;
	border: solid black 2px;
}