@media only screen and (max-device-width: 480px) {

	.seperator {
		margin: 0 auto;
		padding: 0;
		-webkit-border-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.09) 10%, rgba(0,0,0,0.09) 90%, rgba(0,0,0,0)) 100% 0;
		border-width: 1px 0;
	}

	.myform {
		margin: 0 auto;
		padding: 0;
	}

	.changer {
		width: 100%;
	}

	.table-responsive{
		margin: 0 auto;
		padding: 0;
	}





}