// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
	padding: 20px;
	color: white;
	width: 49%;
	background: rgba(00, 00, 00, .4);
	border-radius: 5px;
	margin: 0 auto;
}

.signup {
	padding: 10px;
	color: black;
	width: 49%;
	background: rgba(00, 00, 00, .4);
	border-radius: 10px;
	margin: 0 auto;
	border: solid black 3px;
}

.signup .btn {
	margin-top: 10px;
	border-radius:10px;
}

.modal .btn {
	margin-top: 10px;
	border-radius:10px;
}

.home {
	width: 100%;
	margin: 0 auto;
}

.seperator {
	margin: 80px 100px 0 100px;
	padding: 30px;
	-webkit-border-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.09) 10%, rgba(0,0,0,0.09) 90%, rgba(0,0,0,0)) 100% 0;
	padding-bottom: 30px;
	border-width: 1px 0;
}

.myform {
	margin: 10px -130px 0 -130px;
	padding: 0 30% 0 30%;
}