// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pins {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 214px;
}
.box img{
	width: 100%;
}

.box .panel {
	border: black solid 6px;
}

.showbox .panel{
	margin-top: 10px;
	padding: 5px;
	background-color:white;
	text-align: left;
	max-width: 50%;
}

.showbox img{
	max-width: 100%;
}
