<footer>
		<div class="botFooter">
			
			<div class="social">
				<button class="btn btn-facebook"><i class="fa fa-facebook" ></i></button>
				<button class="btn btn-twitter"><i class="fa fa-twitter"></i></button>
				<button class="btn btn-tumblr"><i class="fa fa-tumblr"></i></button>
				<button class="btn btn-linkedin"><i class="fa fa-linkedin"></i></button>
			</div>
			<div class="arrow-down"></div>

			
		</div>
	<div class="credits">
		<h5> <br /><br /><br />Designed by ------- </h5>
		<h5>Copyright 2014&nbsp;&nbsp;|&nbsp;&nbsp;Gabe Pecache </h5>
	</div>
</footer>