<footer>
		<div class="arrow_box">
			
			<div class="social">
				<button class="btn btn-facebook"><i class="fa fa-facebook" ></i></button>
				<button class="btn btn-twitter"><i class="fa fa-twitter"></i></button>
				<button class="btn btn-tumblr"><i class="fa fa-tumblr"></i></button>
				<button class="btn btn-linkedin"><i class="fa fa-linkedin"></i></button>
			</div>

		</div>
	<div class="credits">
		<h6>Designed by ------- </h6>
		<h6>Copyright 2014&nbsp;&nbsp;|&nbsp;&nbsp;Gabe Pecache </h6>
	</div>
</footer>